    body {
        background-color: black;
        color: white;
    }   
    
    h2 {
        font-size: 30px;
    }
    p {
        font-family: sans-serif;
        font-size: 40px;
    }
    
    img {
        max-width: 300px;
    }
    
    h1 {
        font-family: comic sans ms;
        border-bottom: 1px solid rgb(100, 20, 30);
        font-size: 50px;
        color:blueviolet;
    }
    
    h1:hover {
        background-color: rgb(248, 255, 199);
    }
    
    .sections {
        font-size: 20px;
        padding: 2%;
    }

    .sections2 {
        position:absolute;
        font-size: 20px;
        padding: 2%;
        left: 50px;
        bottom: 1000px;
    }
    .wiki {
        font-size: 30px;
    }

    h3 {
        font-size: 50px;
        color:blueviolet;
    }

    .Game-Desc {
        font-size: 20px;
    }

    .origin {
        font-size: 15px;
    }

    h4 {
        font-size: 25px;
        color:blueviolet;
    }

    h5 {
        font-size: 25px;
        color:blueviolet;
    }

    .source{
       font-size: 35px;
    }